.btn {
  font-weight: 600;
  font-size: 14px;
  border-radius: 2px;
  transition: all 0.15s ease-out;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.btn-default {
  color: #545454;
  background-color: #f5f5f5;
  border-color: #e9e9e9;

  &:hover, &:focus, &:active {
    color: #333;
    background-color: #e1e1e1;
    border-color: #cacaca;
  }
}

.btn-success {
  color: #fff;
  background-color: #37a967;
  border-color: #257346;

  &:hover, &:focus, &:active {
    color: #fff;
    background-color: #37a967;
    border-color: #257346;
  }
}

.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #0F6674;

  &:hover, &:focus, &:active {
    color: #fff;
    background-color: #17a2b8;
    border-color: #0F6674;
  }
}

.btn-warning {
  color: #fff;
  background-color: #ff9800;
  border-color: #B36A00;

  &:hover, &:focus, &:active {
    color: #fff;
    background-color: #ff9800;
    border-color: #B36A00;
  }
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #0056B3;

  &:hover, &:focus, &:active {
    color: #fff;
    background-color: #007bff;
    border-color: #0056B3;
  }
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #A71D2A;

  &:hover, &:focus, &:active {
    color: #fff;
    background-color: #dc3545;
    border-color: #A71D2A;
  }
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #494F54;

  &:hover, &:focus, &:active {
    color: #fff;
    background-color: #6c757d;
    border-color: #494F54;
  }
}
