.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.header-transition-enter-active,
.header-transition-leave-active {
  transition: 0.2s;
}

.header-transition-enter,
.header-transition-leave-active {
  opacity: 0;
  transform: translateY(-40%);
}

.input-error-enter-active,
.input-error-leave-active {
  transition: 0.2s;
}

.input-error-enter,
.input-error-leave-active {
  opacity: 0;
  transform: translateY(-30%);
}

.user-menu-fade-enter-active,
.user-menu-fade-leave-active {
  transition: 0.2s;
}

.user-menu-fade-enter,
.user-menu-fade-leave-active {
  opacity: 0;
  transform: translateX(3%);
}

.oy-modal-enter-active,
.oy-modal-leave-active {
  transition: 0.2s;
}

.oy-modal-enter,
.oy-modal-leave-active {
  opacity: 0;
}


