@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
@import "~bootstrap/scss/bootstrap";

@import 'antUI';
@import 'transitions';
@import 'buttons';
@import 'inputs';
@import 'tables';
// @import 'fluid-font';

html {
  overflow: hidden
}
body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #575962;
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: .3rem;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, .15);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .15);
  }
}
.vdpArrowPrev:after {
  border-right-color: #f04641!important;
}
.vdpArrowNext:after {
  border-left-color: #f04641!important;
}

.vdpCell.today {
  color: #f04641!important;
}
.vdpCell.selectable:hover .vdpCellContent,
.vdpCell.selected .vdpCellContent {
  background: #f04641!important;
}
.vdpTimeUnit > input:hover,
.vdpTimeUnit > input:focus {
  border-bottom-color: #f04641!important;
}
// $min_width: 320px;
// $max_width: 1200px;
// $min_font: 16px;
// $max_font: 24px;

// html {
//   @include fluid-type($min_width, $max_width, $min_font, $max_font);
// }
